{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ object.last_name }}, {{ object.first_name }}</h1>

  <p>
    {% if object.date_of_birth %}
      <strong>Born:</strong> {{ object.date_of_birth|date:"F j, Y" }}
    {% endif %}
    {% if object.date_of_death %}
      <br><strong>Died:</strong> {{ object.date_of_death|date:"F j, Y" }}
    {% endif %}
  </p>

  <h2>Books by this author</h2>
  {% with books=object.book_set.all %}
    {% if books %}
      <ul>
        {% for book in books %}
          <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No books recorded for this author.</p>
    {% endif %}
  {% endwith %}
{% endblock %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_author or perms.catalog.delete_author %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_author %}
      <li><a href="{% url 'author-update' author.id %}">Update author</a></li>
    {% endif %}
    {% if not author.book_set.all and perms.catalog.delete_author %}
      <li><a href="{% url 'author-delete' author.id %}">Delete author</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}