{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ object.last_name }}, {{ object.first_name }}</h1>

  <p>
    {% if object.date_of_birth %}
      <strong>Born:</strong> {{ object.date_of_birth|date:"F j, Y" }}
    {% endif %}
    {% if object.date_of_death %}
      <br><strong>Died:</strong> {{ object.date_of_death|date:"F j, Y" }}
    {% endif %}
  </p>

  <h2>Books by this author</h2>
  {% with books=object.book_set.all %}
    {% if books %}
      <ul>
        {% for book in books %}
          <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No books recorded for this author.</p>
    {% endif %}
  {% endwith %}
{% endblock %}

